
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200&family=Roboto:ital@0;1&family=Source+Sans+Pro:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}
textarea:focus, input:focus{
  outline: none;
}