@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,200&family=Poppins:wght@200&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,200&family=Poppins:wght@200&family=Roboto:ital@1&display=swap');


.auth{
    display: flex;
    height: 100vh;
     width: 100vw;
     overflow-y: hidden;
     overflow-x: hidden;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c275 C 57.6%2c321.4 172.8%2c525.2 288%2c507 C 403.2%2c488.8 460.8%2c222 576%2c184 C 691.2%2c146 748.8%2c348.8 864%2c317 C 979.2%2c285.2 1036.8%2c7.8 1152%2c25 C 1267.2%2c42.2 1382.4%2c327.4 1440%2c403L1440 560L0 560z' fill='rgba(24%2c 126%2c 100%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    width:100vw; */
    font-family: 'Noto Sans', sans-serif;
}

.auth .left{
    /* width: 25%; */
    height: 100%;
    background-color: #fff;
    padding:100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.brand{
    display: flex;
    cursor: pointer;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.brandIcon{
    width:40px;
}
.brandName{
    font-family: 'Roboto', sans-serif;
    color: #00684A;
    font-size: 28px;

}
.loginText{
    font-size: 32px;
    color: rgb(0, 104, 74);
    line-height: 100px;
}
.googleLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0,0,0,0.2);
    width: 300px;
    padding: 5px 0;
    gap:10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
}
.manualLogin{
    padding: 20px 0;
    /* width: 100%; */
}
.manualLogin form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.manualLogin p{
    display: flex;
    flex-direction: row;
    font-family:'Roboto';
}
.manualLogin .partition:before{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 0 10px 8px 0;
}
.manualLogin .partition:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 0 0 8px 10px;
}
.errorMessage{
    color: #00684A;
    display: flex;
    height: 20px;
    justify-content: center;
    text-align: center;
}

.manualLogin input{
    /* transition: 0.5s; */
    outline: none;
}

.manualLogin input:focus {
    border: 4px solid rgba(0,0,0,0.2);
  }
.emailInput, .passwordInput,.input{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.manualLogin label {
    font-family:'Roboto';
    font-size: 15px;
    font-weight: 700;
    color:  rgb(93,108,116);
}
.manualLogin input{
    height: 40px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.2);
}
.submit{
    display: flex;
    gap:20px;
    /* justify-content: center; */
    align-items: center;
}

.submit p{
    text-align: center;
    font-size: 14px;
    color:  rgb(28, 45, 56);
}
.submit p span{
    color: #016BF8;
    margin-left: 5px;
    cursor: pointer;
}
.auth .right{
    height: 100%;
    width:75%;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1008' preserveAspectRatio='none' viewBox='0 0 1440 1008'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1501%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c218 C 144%2c293.4 432%2c547 720%2c595 C 1008%2c643 1296%2c485.4 1440%2c458L1440 1008L0 1008z' fill='rgba(24%2c 126%2c 100%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1501'%3e%3crect width='1440' height='1008' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='857' preserveAspectRatio='none' viewBox='0 0 1440 857'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1350%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c149 C 144%2c252.2 432%2c652 720%2c665 C 1008%2c678 1296%2c304.2 1440%2c214L1440 857L0 857z' fill='rgba(24%2c 126%2c 100%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1350'%3e%3crect width='1440' height='857' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    
}